<div id="<%= dom_id beer_club %>">
  <h1>
    <%= beer_club.name %>
  </h1>

  <br />

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>
</div>
