<h2>Breweries</h2>

<p id="reverse">reverse!</p>

<div id="breweries">
  <table id="brewerytable" class="table table-hover">
    <thead>
      <tr>
        <th> <span id="name">Name</span> </th>
        <th> <span id="year">Year</span> </th>
        <th> <span id="beerquantity">Amount of beers</span> </th>
        <th> <span id="active">Active</span> </th>
      </tr>
    <thead>
    <tbody>
      <div id="beerlist"></div>
    </tbody>
  </table>
</div>
